* {
    font-family: 'Times New Roman', Times, serif;
    margin: 0px;
    padding: 0px;
    color: black;
    background-color: blanchedalmond;
}

h1 {
    padding-top: 20px;
    text-align: center;
    color: brown;
}

a {
    text-decoration: none;
}

ul {
    padding: 10px;
    text-align: center;    
}  

li {
    display: inline-block;
    margin: 40px;
    border: 1px solid rgb(153, 95, 8);
    padding: 8px;
}